* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar{
    height: 300vh;
    width: 100%;
    background: black;
    padding-left: 5%;
    padding-left: 5%;
    box-sizing: border-box;
    position: relative;
    
   
}
ul{
    list-style: none;

}


.header .navbar{
    width:100%;
    height:80px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.header .navbar .logo a{
    margin-left: 100px;
    font-size: 33px;
    font-weight: 1000;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #6c5ce7!important;
    text-decoration: none;
}
.header .navbar .logo span {
    font-size: 33px;
    color: tomato;

}
.header .navbar .menu ul li{
    display: inline-block;
}
.header .navbar .menu ul li a{
    position: relative;
    color: #fff!important;
    margin-left: 35px;
   
    font-size: 18px;
    font-weight: 200;
    align-items: center;
    letter-spacing: 1px;
    text-decoration: none;
}
.header .navbar .menu ul li a:after{
    position:absolute;
    left:0;
    top:35px;
    width:100%;
    height:4px;
    background: #ff0c86;
    content:'';
    opacity: 0;
    transition: all 0.3s;
    border-radius: 6px;
}
.header .navbar .menu ul li a:hover:after{
    opacity:5;
}
.header .navbar .reg-btn a{
    display: block;
    padding: 14px 40px;
    font-size: 20px;
    font-weight: 200;
   
    background: linear-gradient(45deg,#87adfe,tomato);
    text-decoration: none;

    margin-right: 100px;
    letter-spacing: 1px;
    border-radius: 5px;
    transition: all 0.3s;
    color:#fff!important;


}
.new{
    letter-spacing: 0.5x;
    opacity: 0.7;
    
}














.main-nav {
    float: right;
    margin-top: 70px;
    font-weight: bold;
}

.main-nav li {
    display: inline-block;
    list-style: none;
    margin-left: 40px;
    transform: translate(60%, 0%);
}

.main-nav li a {
    padding: 4px 0;
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 120%;
    font-weight: lighter;
}










.title::before{
    content:'';
    background:tomato;
    height:5px;
    width:200px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    transform:translateY(63px);
}
.title::after{
    content:'';
    background:tomato;
    height:10px;
    width:50px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:50px;
    display:block;
    transform:translateY(17px);
}
.fa-trash{color:#ff0000;}
.icon{
    
    padding:8px 30px;
   text-align:center;
   color:black;
}
