@import url('https://fonts.googleapis.com/css2?family=Flamenco&display=swap');

:root{
    /*--font-ubuntu: 'Ubuntu', monospace;*/
    --font-flamenco: 'Flamenco', cursive;
    color: wheat;
    --color-border: rgb(209, 108, 108);
}

.font-flamenco{
    font: normal 500 16px var(--font-flamenco);
}

#register, #login-form, .ind{
    padding: 5% 0;
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .9)), url('../image/old-library-1.jpg');
    width: 100%;
    height: 130vh;
    background-repeat: no-repeat;   
}

h1{
    color: rgb(209, 108, 108);
}
p,span{
    color: white;
}
.nav-link span{
    color: rgb(78, 73, 73);
}


textarea {
    margin: 2%;
    border: 2px solid white;
    background: black;
    color: white;
}
.btn{
    background-color: rgb(209, 108, 108);
    border: 2px solid wheat;
    margin: 2%;
    color: black;
    
}
.form-control{
    color: bisque;
}

#login-form{
    padding: 10% 0;
}

#register .upload-profile-image{
    position: relative;
    width: 5%;
    margin-left: auto;
    margin-right: auto;
    transition: filter .8s ease;
    visibility: hidden;
}

#register .upload-profile-image:hover{
    filter: drop-shadow(1px 1px 22px #7584bb);
}

#upload-profile{
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100px;
    margin-top: 0px;
    opacity: .1;
    visibility: hidden;
}

#upload-profile::-webkit-file-upload-button{
    visibility:hidden;
}

#upload-profile::before{
    content: '';
    display: inline-block;
    width: 200px;
    height: 200px;
    cursor: pointer;
    border-radius: 50%;
}

#register .upload-profile-image .camera-icon{
    position: absolute;
    top: 70px;
    width: 60px !important;
    filter: invert(30%) !important;
}

#register .upload-profile-image:hover .camera-icon{
    filter: invert(100%) !important;
}

#reg-form input[type='text'],
#reg-form input[type='email'],
#reg-form input[type='password'],
#log-form input[type='text'],
#log-form input[type='email'],
#log-form input[type='password']{
    border: none;
    border-radius: 5%;
    color: antiquewhite;
    background: transparent;
    border-bottom: 1px solid var(--color-border);
    font-family: var(--font-flamenco);
}

#reg-form input[type='text'],
#reg-form input[type='email'],
#reg-form input[type='password'],
#log-form input[type='text'],
#log-form input[type='email'],
#log-form input[type='password']{
    outline: none;
    box-shadow: none;
}
